/Practica1/nbproject/private/
/Practica1/build/
/TareaEco/nbproject/private/
*.pdf
*.pptx
*.doc
/TareaEco/build/
/DatagramaArchivos/nbproject/private/
/DatagramaArchivos/build/
/Practica4/nbproject/private/
/Practica4/build/
/Practica4/dist/